* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "arial narrow";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(10011346209669.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px
  text-shadow: 1px 1px 0 #000;
}

.top-wrapper p {
  opacity: 0.9;
  text-shadow: 1px 1px 0 #000;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.instagram {
  background-color: #c71585;
  margin-right: 10px;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fab {
  margin-right: 5px;
}

header {
  height: 110px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.bars {
  font-size:40px;
  padding:30px 50px 0px 0px;
  color:white;
  display:none;
  float:right;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 110px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.service img {
  width :200px;
}

.service {
  float: left;
  width: 25%;
}

.service-icon {
  position: relative;
}

.service-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  text-shadow:1px 1px 0 #000;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.contact-wrapper h2 {
  color :white;
  text-shadow: 1px 1px 0 #000;
}

.contact-wrapper h3 {
  color :white;
  text-shadow: 1px 1px 0 #000;
}

.heading h3 {
  font-weight: normal;
}

.contact-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-image: url(10011335346950.jpg);
  background-size: cover;
}

.contact {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.contact:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 300px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.clear {
  clear:left;
}
